@model Beltek.Project.SSKitapApp.Models.Stationary

@{
    ViewData["Title"] = "SSKİTAP";
}

<h1>Kırtasiye</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Ürün Adı
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product)
        </dd>
        <dt class = "col-sm-2">
            Fiyatı
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Düzenle</a> |
    <a asp-action="Index">Listeye Geri Dön</a>
</div>
